body {
  /* fallback */
  background-color: #fcfff5;
  background: url(../images/textbg.png);
  background-repeat: no-repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#193441),to(#fcfff5));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fcfff5, #193441);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fcfff5, #193441);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #fcfff5, #193441);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fcfff5, #193441);
}

.backgroundimage {
background: url(../images/background.png);
background-position:center 200px;
background-repeat:no-repeat;
}

.container h1 {
font-size: 24px;
color: #1b1d26;
margin-bottom:0px;
}

.container h2 {
font-size: 18px;
color: #3e606f;
}


.container a:link {
color: #A6653F;
text-decoration:none;
}
	
.container a:visited {
color: #A6653F;
text-decoration:none;
}

.container a:hover {
color: #1b1d26;
text-decoration:none;
}
	
.container a:active {
color: #1b1d26;
text-decoration:none;
}


.textbg {
background: url(../images/textbg.png);
-ms-border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-o-border-radius:10px;
}

.textbg p, h1, h2, ul
{
padding-left: 10px;
padding-right:10px;
color: #193441;
font-weight: bold;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #d1dbbd;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfff5), color-stop(25%, #fcfff5), to(#d1dbbd));
  background-image: -webkit-linear-gradient(#fcfff5, #fcfff5 25%, #d1dbbd);
  background-image: -moz-linear-gradient(top, #fcfff5, #fcfff5 25%, #d1dbbd);
  background-image: -ms-linear-gradient(#fcfff5, #fcfff5 25%, #d1dbbd);
  background-image: -o-linear-gradient(#fcfff5, #fcfff5 25%, #d1dbbd);
  background-image: linear-gradient(#fcfff5, #fcfff5 25%, #d1dbbd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff5', endColorstr='#d1dbbd', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #A6653F;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.btn:hover {
  background-position: 0 -15px;
  color: #A6653F;
  text-decoration: none;
}

label {
width:auto;
}